body {
	margin:auto;
	background-image:url(giphy.gif);
}

h1 {
	text-align:center;
}

.box {
  min-height: 100vh;
  width:12%;
  display: inline-table;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  border-radius: 5px;
}



@media screen and (max-width: 1090px) {
.box {
	min-height: 50vh;
	width: 22.5vw;
	display: inline-table;
	position: relative;
	}
}

@media screen and (max-width: 330px) {
.box {
	min-height: 30vh;
	width: 90vw;
	display: inline-table;
	position: relative;
	}
}

.lightblue {
	background-color: #78c5d6;
}
.blue {
	background-color: #459ba8;
}
.green{
	background-color: #79c267;
}
.lightgreen{
	background-color: #c5d647;
}
.yellow{
	background-color: #f5d63d;
}
.orange{
	background-color: #f28c33;
}
.pink{
	background-color: #e868a2;
}
.purple{
	background-color: #bf62a6;
}

.white {
	  background-color: #fff;
	  min-height:10px;
}








